<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device=width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" type="text/css" href="styling.css" /> -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styling.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <!-- Link for icons: https://fonts.google.com/icons -->
  </head>
  <body>
    <h1>Animate</h1>
    <h2>Find Your Perfect Anime Match</h2>
    <h3>Discover new anime and connect with other Otakus</h3>
    <!-- <div >
      <label for="username"> Username (4 to 8 characters): </label>
      <input type="text" id="username" required minlength="4" maxlength="8"> </input>
    </div> -->

    <div class="sign-up-box">
      <h4>Sign Up Here</h4>
      <form method="POST">

        <div class="input">
            <i class="material-icons">person</i>
          <input
            type="text"
            name="fname"
            id="input"
            required
            minlength="2"
            maxlength="10"
            placeholder="First Name"
          />
          <i class="material-icons">person</i>
          <input
            type="text"
            name="lname"
            id="input"
            required
            minlength="2"
            maxlength="10"
            placeholder="Last Name"
          />
        </div>
        <div class="input">
          <i class="material-icons">person</i>
          {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
          {% for error in form.username.errors %}
              <span style="color: red;">{{ error }}</span>
          {% endfor %}
      </div>

      <div class="input">
        <i class="material-icons">password</i>
        <input
          name="password"
          type="password"
          id="passwordInput"
          placeholder="Password"
        />
        <span class="eye" onclick="togglePasswordVisibility('passwordInput', 'hide1', 'hide2')">
          <i id="hide1" class="material-icons">visibility</i>
          <i id="hide2" class="material-icons">visibility_off</i>
        </span>
      </div>
      <div class="input">
        <i class="material-icons">password</i>
        <input
          name="confirmPassword"
          type="password"
          id="confirmPasswordInput"
          placeholder="Confirm Password"
        />
        <span class="eye" onclick="togglePasswordVisibility('confirmPasswordInput', 'hide3', 'hide4')">
          <i id="hide3" class="material-icons">visibility</i>
          <i id="hide4" class="material-icons">visibility_off</i>
        </span>
      </div>
      
        <button type="submit" class="login-button">Create Account</button>
        <div class="register-border">
            <span class="white">Already Have An Account? 
                <a class="m1-2" href="{{ url_for('home') }}">Sign In</a>
            </span>
        </div>
        
        
      </form>
      
    </div>
    
    <script>
      function togglePasswordVisibility(inputId, showIconId, hideIconId) {
        var x = document.getElementById(inputId);
        var y = document.getElementById(showIconId);
        var z = document.getElementById(hideIconId);
        if (x.type === "password") {
          x.type = "text";
          y.style.display = "block";
          z.style.display = "none";
        } else {
          x.type = "password";
          y.style.display = "none";
          z.style.display = "block";
        }
      }
    </script>

    <!-- <div id="choices">
      <button onclick="swipe('dislike')">❌</button>
      <button onclick="swipe('like')">❤️</button>
    </div> -->
  </body>
</html>
